
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #077fcf;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-height: 50px;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.navigation a {
    text-decoration: none;
    color: #db1515;
    font-weight: bold;
    position: relative; /* Required for the underline transition */
    transition: color 0.3s, border-bottom 0.3s; /* Adding smooth transitions */
}
.navigation a:hover {
    color: #e71010; /* Change the color on hover */
    border-bottom: 2px solid #555; /* Add an underline on hover */
}

.auth .login-signup {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.auth .login-signup:hover {
    background-color: #555;
}


.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

#search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
}

#search-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #555;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    width: 70%;
    max-width: 400px;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.close {
    font-size: 24px;
    cursor: pointer;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tablinks {
    padding: 10px 15px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.tablinks:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
}

.active {
    background-color: #333;
    color: #fff;
}

#loginTab, #signupTab {
    display: none;
}

/* Form styling */
form input[type="text"],
form input[type="password"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}


